table {
    width: 80%;
    margin: 40px auto;
}

.flex{
    display: flex;
}

.flex-end{
    justify-content: end;
}
.align-center{
    align-items: center;
}
.label-filter{
    margin-right: 10px;
    font-size: 14px;
}
.mat-form-field {
    font-size: 14px;
    width: 30%;

}